@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
}

.el-form-item__label,
.el-radio__label,
.el-checkbox__label {
  font-size: 16px !important;
  color: #000 !important;
}

.el-button {
  font-size: 18px !important;
}
